{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}
        babashka/fs {:mvn/version "0.5.31"}
        cheshire/cheshire {:mvn/version "6.0.0"}

        ;; nicer TUI
        io.github.TimoKramer/charm.clj {:git/tag "v0.1.61" :git/sha "9702ff7e87974daaf18c3080b43b7809efed13c1"}

        ;; logging
        org.clojars.lukaszkorecki/mokujin {:mvn/version "1.0.0.105"}
        org.clojars.lukaszkorecki/mokujin-logback {:mvn/version "1.0.0.105"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :run {:main-opts ["-m" "samplanager.core"]}}}
